<ul>
	<% commentable.comments.each do |comment| %>
		<li>
            <div>
		        <%= comment.title %>
		    </div>
		    <div>
		        <%= comment.message %>
		    </div>
		</li>
	<% end %>
</ul>